## Linear regression 
(type of supervised learning - regration inwhich prection features are infinite here we have to predict "fertility" which is with infinite possivilites)
step 1 we select the random straight line.
step 2 we will calculate sum of sqaured residuals. 
step 3 repeate above two steps for different random strainght lines.
formula     [(R square=(varance of mean - variance of fit)]   /  (varance of mean)
 answer of (R square) will be between (minus infinity) to (positive one).



Procedure
1. Extract Features <br/>
a. Features and target should not have null values <br/>
b. Features should be numeric <br/>
c. Features should be of the type array/dataframe <br/>
d. Features should have some rows and columns <br/>
2. Split the dataset into training and testing datasets  <br/>
e. Features should be on the same scale <br/>
3. Train the model on the training dataset
4. Test the model on the testing dataset

In [1]:
import pandas as pd

In [2]:
#df=pd.read_csv("D:/Datasets/gapminder.csv")
df=pd.read_csv("gapminder.csv")

In [3]:
df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
y=df["fertility"]

# Step 1

In [5]:
X=df.drop("fertility",axis=1)

# axis 1 to find fertility in the first row.

In [6]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [7]:
X.isna().sum()

population         0
HIV                0
CO2                0
BMI_male           0
GDP                0
BMI_female         0
life               0
child_mortality    0
Region             0
dtype: int64

In [8]:
y.isna().sum()
#Features and target should not have null values

0

In [9]:
X.dtypes

population         float64
HIV                float64
CO2                float64
BMI_male           float64
GDP                float64
BMI_female         float64
life               float64
child_mortality    float64
Region              object
dtype: object

In [10]:
# from above we can see regonis object type we need numeric i.e float of integer. so we have to convert it into numeric. so there are two types of non numeric string columns first is categorical(i.e. column has finite set of posibilities  ) and second is continuous (i.e. column has infinite set of posibilities)
# so in region has finite in nature so it is categorical type of non numeric string so we have two techniques to deal with this 
#first is (one-hot encoding) and 2nd is (dummy encoding-here dropping one column in one hot encoding)
# so linear model does not like multicolinear features so dummy encoding techniques does not have multicolinear features. so dummy encoding is best for linear models as we are using linear regression so dummy encoding is using here
# for non liner models one hot encoding is used.

In [11]:
X["Region"].unique()

# we can see here we have six unique values after running this command.

array(['Middle East & North Africa', 'Sub-Saharan Africa', 'America',
       'Europe & Central Asia', 'East Asia & Pacific', 'South Asia'],
      dtype=object)

In [12]:
X=pd.get_dummies(X,columns=["Region"],drop_first=True)
# we we are using dummy encoding we are droping one column of refion unique columns.

In [13]:
X.dtypes

# uint8 means unsigned integer of eight bit. i. e. 2 raise to 8 bit which starts from zero uptill 255 interger values. so it is numeric.
# Features should be numeric

population                           float64
HIV                                  float64
CO2                                  float64
BMI_male                             float64
GDP                                  float64
BMI_female                           float64
life                                 float64
child_mortality                      float64
Region_East Asia & Pacific             uint8
Region_Europe & Central Asia           uint8
Region_Middle East & North Africa      uint8
Region_South Asia                      uint8
Region_Sub-Saharan Africa              uint8
dtype: object

In [14]:
type(X)
# Features should be of the type array/dataframe

pandas.core.frame.DataFrame

In [34]:
X.shape
# Features should have some rows and columns
# now Features should have some rows and columns

(139, 13)

# 2 Split the dataset into training and testing datasets
e. Features should be on the same scale

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

# FEATURES STORED IN X AND TARGET STORED IN Y. AND SPLITING IT.
# random_state=42 FOR EVERY TIME SAME PERFORMANCE OF MODEL. BY DEFAULT RATIO TO SPLIT DATA IS 75%-25%. 75 FOR TEST DATA AND 25 FOR TRAING DATA.
# IN REGRESSION WE NEVER EVER USE STATIFICATION AS WE CANT SPLIT DATA INTO PROPER PROPORTION AS LIKE CLASSIFICATION.

In [18]:
X.head()
# FEATURES ARE NOT IN THE SAME SCALE.

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler=MinMaxScaler()

In [21]:
X_train=scaler.fit_transform(X_train)
# on x_train we perform both fit and transform

In [33]:
X_test=scaler.transform(X_test)
#on x_test we perform only transform

# 3

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model=LinearRegression()

In [25]:
model.fit(X_train,y_train)

LinearRegression()

# 4

In [26]:
model.score(X_test,y_test)
# r squre value is near to 1 so our model is very good.

0.9219252007959637

# Predict

In [35]:
X.head()

,population,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,1,0,0
1,19842251.0,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,1
2,40381860.0,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,0,0,0,0,0
3,2975029.0,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,1,0,0,0
4,21370348.0,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,1,0,0,0,0

In [36]:
data=pd.DataFrame({"First":[12763786],"Second":[0.6],"ThirdF":[1.5],"Fourth":[24],"Fifth":[10000],"SixthF":[115],"Seventh":[70],
             "Eight":[80],"Ninth":[0],"Tenth":[0],"Eleven":[0],"Twelve":[1],"Thirteen":[0]})

#taking some random values data to predict the fertility for that perticular data.

In [29]:
X.shape

(139, 13)

In [30]:
data.shape

(1, 13)

In [37]:
data=scaler.transform(data)

In [38]:
model.predict(data)

array([3.40665834])